h1 {
   
    text-align: center;
    display: none; 
    color: white;
}

.box {
margin:45px auto 100px ;
width: 80%;
text-align: center;

}

.button {
    border-radius: 5px;
    cursor: pointer;
    width: 6rem;
    height: 8rem;
    border:2px solid rgba(22, 23, 23, 0.635);
    
    display: inline-block;
    margin:3px;
}

#red {
    background-color: red;
}

#black {
    
    background-color: black;
}

#blue{
    background-color: blue;
}

#green {
    background-color: green;
}
#yellow{
    background-color: yellow;
}
#pink{
    background-color: pink;
}



